.intro {
  font-weight: bolder;
  font-size: large;
  color: darkred;
  font-family: Helvetica;
}

.basic {
  color: black;
}

img {
  float: left;
  padding: 20px;
}

.sidebar {
  color: blue;
  width: 30%;
  float: left;
  background-color: darkgray;
  border: double pink;
  border-width: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.column {
  color: darkgreen;
  width: 200px;
  float: right;
}