.intro {
  font-weight: bolder;
  font-size: large;
  color: darkred;
  font-family: Helvetica;
}

.basic {
  color: black;
}

.centered-image {
  padding: 20px;
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}

.sidebar {
  color: blue;
  width: 30%;
  float: left;
  background-color: darkgray;
  border: double pink;
  border-width: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 10px;
  display: block;
}

.column {
  color: darkgreen;
  width: 200px;
  float: right;
}