.theme {
  background-color: lightpink;
  font-weight: lighter;
  font-family: Helvetica;
  font-size: small;
  color: gray;
}

/*.intro {
  font-weight: bolder;
  font-size: large;
  color: darkred;
  font-family: Helvetica;
}

*/

.em-text {
  font-family: helvetica;
  color: rgba(249, 211, 161, 0.904);
}

.basic {
  color: black;
}

.image {
  padding: 100px;
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
  float: left;
}

.sidebar {
  color: blue;
  width: 30%;
  float: left;
  background-color: darkgray;
  border: double pink;
  border-width: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 10px;
  display: block;
}

.column {
  color: darkgreen;
  width: 200px;
  float: right;
}